-- CreateTable
CREATE TABLE `city` (
    `city_id` INTEGER NOT NULL AUTO_INCREMENT,
    `city_name` VARCHAR(100) NULL,

    PRIMARY KEY (`city_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `train` (
    `train_id` INTEGER NOT NULL AUTO_INCREMENT,
    `train_name` VARCHAR(50) NULL,
    `capacity` INTEGER NULL,

    PRIMARY KEY (`train_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `trip` (
    `train_id` INTEGER NOT NULL,
    `city_id` INTEGER NOT NULL,
    `stop_order` INTEGER NULL,

    INDEX `city_id`(`city_id`),
    INDEX `train_id`(`train_id`),
    PRIMARY KEY (`train_id`, `city_id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `trip` ADD CONSTRAINT `trip_ibfk_1` FOREIGN KEY (`train_id`) REFERENCES `train`(`train_id`) ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE `trip` ADD CONSTRAINT `trip_ibfk_2` FOREIGN KEY (`city_id`) REFERENCES `city`(`city_id`) ON DELETE NO ACTION ON UPDATE NO ACTION;

